body {
  font-family: Helvetica;
}

h1 {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}

h2 {
  color: white;
  font-size: 32px;
  font-weight: bold;
}

.title {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg)
}

.brushes {
  background-color: mediumspringgreen;
}

strong.pricing {
  color: blue;
  font-weight: bold;
}

.frames {
  background-color: lightcoral;
}

.paint {
  background-color: skyblue;
}
